<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    >

    <!-- beStrictAboutTestsThatDoNotTestAnything="true" para marcar testes sem asserts como riscos -->
    <!-- beStrictAboutTodoAnnotatedTests="false" para não marcar @todo como risco -->

  <testsuite name="tests">
      <directory>tests</directory>
  </testsuite>
  <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">app</directory>
      </whitelist>
  </filter>
  <logging>
      <log type="coverage-html" target="tests/_reports/coverage" lowUpperBound="35" highLowerBound="70" />
  </logging>
</phpunit>
